/backend/venv
/backend/.idea
.idea

.history/
.vscode/
web/package-lock.json
*.pyc   
*.bat
backend/data.xlsx
package-lock.json
output.log
直升机零部件术语详解.pptx
演示准备.txt
backend/dvadmin/system/views/chroma_db/
backend/static/threejs/
