/backend/venv
/backend/.idea
.idea

.history/
.vscode/
web/package-lock.json
*.pyc   
*.bat
backend/data.xlsx
package-lock.json
output.log
直升机零部件术语详解.pptx
演示准备.txt
backend/dvadmin/system/views/chroma_db/
backend/static/threejs/
 
\[非涉密非商密]人工智能与装备创新中心开放日宣讲-更新版1.pptx
backend/chroma_db/chroma.sqlite3
